

.title-list{

  width: 100%;

}

mat-toolbar{
    background-color: rgb(4, 94, 228) ;
    color: rgb(255, 254, 254);
    width: 100%;
}

.loading-spinner{
  padding: 25px ;
  background: rgb(255, 255, 255) ;
  display: flex;
  align-items: center;
  justify-content: center;


}

