

table {
  width: 100%;
  background-color: rgb(224, 223, 226);
}

.loading-spinner{
  padding: 25px ;
  background: rgb(255, 255, 255) ;
  display: flex;
  align-items: center;
  justify-content: center;


}

